<div class="row">
  <div class="six columns centered" style="margin-top:180px;">
    <h1>Trevor Knight Land</h1>

    <h2>Favorite Football Teams</h2>
    <ol>
      <li>Pittsburgh Steelers</li>
      <li>Washington Redskins</li>
      <li>San Francisco 49ers</li>
      <li>Denver Broncos</li>
      <li>Atlanta Falcons</li>
    </ol>

    <h2>Favorite Video Games</h2>
    <ol>
      <li>Madden 13</li>
      <li>Madden 11</li>
      <li>Mario Sports Mix</li>
    </ol>
  </div>
</div>

