<div class="row">
  <div class="six columns offset-by-four">
    <h1>Trevor Knight Land</h1>
  </div>
</div>

<div class="row">
  <article>
    <div class="four columns offset-by-four">

      <h2>Favorite Football Teams</h2>
      <ol>
        <li>Pittsburgh Steelers</li>
        <li>Washington Redskins</li>
        <li>San Francisco 49ers</li>
        <li>Denver Broncos</li>
        <li>Atlanta Falcons</li>
      </ol>

      <h2>Favorite Video Games</h2>
      <ol>
        <li>Madden 13</li>
        <li>Madden 11</li>
        <li>Mario Sports Mix</li>
      </ol>
    </div class="four  columns">
      <%= image_tag("trevor.png") %>
    <div>
    </div>
  </article>
</div>