@import "foundation";

body {
  background:url(pittsburgh-steelers-wallpaper.jpg);
  color:#ffff69;
}

article {
  padding-top:200px;
  overflow:hidden;
}

img {
  border: 24px solid black;
}

h1,h2,h3 {
  font-weight:normal;
  color:#000;
}

.even {
  color:black;
}

.odd {
  color:#ffff69;
}
